//META{"name":"Discord Cyberpunk Neon","description":"An outrun/cyberpunk theme, based on Cyberpunk Neon color scheme","author":"Roboron","version":"1.0"}*//

/* Miscellaneus */
::-webkit-input-placeholder {
    color: rgba(10, 189, 198, .5) !important;
}

/* Selection */
::selection,
.clipboard-input-inner input::selection,
.CodeMirror .CodeMirror-selected,
.CodeMirror-line::selection,
.CodeMirror-line > span::selection,
.CodeMirror-line > span > span::selection,
.note textarea::selection {
    color: #0abdc6;
    background: #711c91;
}

/* Barra principal */

.theme-dark .wrapper-1Rf91z, .theme-light .wrapper-1Rf91z {
    background-color: #091833;
}
.item-2hkk8m {
    background-color: #ea00d9;
}
.circleIconButton-jET_ig {
    background-color: #133e7c;
    color: #0abdc6;
}
.circleIconButton-jET_ig:hover {
    background-color: #0abdc6;
    color: #133e7c;
}
.theme-dark .button-OhfaWu, .theme-light .button-OhfaWu {
    color: #0abdc6;
    background-color: #133e7c;
}
.theme-dark .button-OhfaWu.selected-wSa2KV, .theme-light .button-OhfaWu.selected-wSa2KV {
    background-color: #711c91;
}
.theme-dark .iconBadge-2wi9r4, .theme-light .iconBadge-2wi9r4 {
    background-color: #133e7c;
}
.icon-3s6X1M > path:nth-child(1) {
    fill: #0abdc6;
}
.guildSeparator-3s64Iy {
    background: #133e7c;
}

/* Barra lateral izquierda*/

.container-PNkimc {
    background-color: #000b1e;
}
.theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_ .content-3at_AU, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_:hover .content-3at_AU {
    background-color: #133e7c;
}
.theme-dark .icon-1_QxNX, .theme-light .icon-1_QxNX {
    color: #0abdc6;
}
.theme-dark .notInteractive-YF5EXq.modeConnected-2IEL4z .name-3_Dsmg, .theme-dark .notInteractive-YF5EXq.modeSelected-1zApJ_ .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeConnected-2IEL4z .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeConnected-2IEL4z:hover .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_ .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeSelected-1zApJ_:hover .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeUnread-1zpFdA .name-3_Dsmg, .theme-dark .wrapper-1ucjTd.modeUnread-1zpFdA:hover .name-3_Dsmg, .theme-light .notInteractive-YF5EXq.modeConnected-2IEL4z .name-3_Dsmg, .theme-light .notInteractive-YF5EXq.modeSelected-1zApJ_ .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeConnected-2IEL4z .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeConnected-2IEL4z:hover .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_ .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeSelected-1zApJ_:hover .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeUnread-1zpFdA .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeUnread-1zpFdA:hover .name-3_Dsmg {
    color: #ea00d9;
}
.theme-dark .name-3_Dsmg, .theme-light .name-3_Dsmg {
    color: #0abdc6;
}
.theme-dark .wrapper-1ucjTd.modeMuted-3osy7j:hover .name-3_Dsmg, .theme-dark .wrapper-1ucjTd:hover .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeMuted-3osy7j:hover .name-3_Dsmg, .theme-light .wrapper-1ucjTd:hover .name-3_Dsmg {
    color: #0abdc6;
}
.theme-dark .unread-3zKkbm, .theme-light .unread-3zKkbm {
    background-color: #ea00d9;
}
.theme-dark .wrapper-1ucjTd.modeMuted-3osy7j .icon-1_QxNX, .theme-light .wrapper-1ucjTd.modeMuted-3osy7j .icon-1_QxNX {
    color: #133e7c;
}
.theme-dark .wrapper-1ucjTd.modeMuted-3osy7j .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeMuted-3osy7j .name-3_Dsmg {
    color: #133e7c;
}
.theme-dark .wrapper-1ucjTd.modeMuted-3osy7j:hover .name-3_Dsmg, .theme-light .wrapper-1ucjTd.modeMuted-3osy7j .name-3_Dsmg {
    color: #0abdc6;
}
.theme-dark .wrapper-1ucjTd:hover .content-3at_AU, .theme-light .wrapper-1ucjTd:hover .content-3at_AU {
    background-color: #711c91;
}
.header-2o-2hj {
    color: #ea00d9;
}
.wrapper-CU3qI5 {
    color: #0abdc6;
}
.wrapper-CU3qI5:hover {
    color: #ea00d9;
}
.theme-dark .listDefault-2y5Z9D .clickable-23RaYz:hover .username-lm8y6T, .theme-light .listDefault-2y5Z9D .clickable-23RaYz:hover .username-lm8y6T {
    color: #0abdc6;
}
.theme-dark .icon-3BcwQu, .theme-dark .username-lm8y6T, .theme-light .icon-3BcwQu, .theme-light .username-lm8y6T {
    color: #0abdc6;
}
.theme-dark .listDefault-2y5Z9D .clickable-23RaYz:hover .content-3xS9Lh, .theme-light .listDefault-2y5Z9D .clickable-23RaYz:hover .content-3xS9Lh {
    background-color: #711c91;
}
.actionIcon-2Hi9ZG {
    color: #0abdc6;
}
.actionIcon-2Hi9ZG:hover {
    color: #ea00d9;
}
.unread-1xRYoj {
    background-color: #711c91;
}
.unread-1xRYoj:hover {
    background-color: #ea00d9;
}
.bar-30k2ka {
    color: #0abdc6;
}
.wrapper-pZmgj4 {
    color: #0abdc6;
}
.users-i_3-kL {
    background-color: #133e7c;
}
.total-3tKGEB {
    background-color: #091833;
}
.total-3tKGEB::after {
    border-right-color: #091833;
}
.addButtonIcon-3u-3Hu {
    stroke: #0abdc6;
}

/** Menu especial **/
.theme-dark .item-1GzJrl:hover.invite-271nFU {
    color: #ea00d9;
}
.theme-dark .item-1GzJrl.invite-271nFU {
    color: #ea00d9;
}
.theme-dark .menu-Sp6bN1 {
    background: #091833;
}
.theme-dark .item-1GzJrl:hover {
    background-color: #711c91;
    color: #0abdc6;
}
.theme-dark .item-1GzJrl:hover {
    background-color: #711c91;
    color: #0abdc6;
}
.theme-dark .item-1GzJrl {
    color: #0abdc6;
}
.icon-2doZ3q {
    color: #0abdc6;
}
.theme-dark .item-1GzJrl.leave-1DRJfn {
    color: #ff0000;
}
.button-1w5pas > g:nth-child(1) > path:nth-child(2) {
    stroke: #0abdc6;
}
.button-1w5pas > g:nth-child(1) > path:nth-child(3) {
    stroke: #0abdc6;
}

/** Consejos **/
.channelNotices-41mJbj .channelNotice-1-XFjC.quickswitcher-35bYg4 {
    background: #000b1e url(/assets/8fdb69b7684b8e1ecb3fdde909daca41.svg) no-repeat center 35px;
}
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P .btn-11C5_u {
    color: #0abdc6;
    background-color: #133e7c;
}
.channelNotices-41mJbj .channelNotice-1-XFjC .message-3SOT5P {
    color: #133e7c;
}

/** Conectado **/
.theme-dark .container-3baos1, .theme-light .container-3baos1 {
    background: #091833;
}
.theme-dark .username-2BIRiC, .theme-light .username-2BIRiC {
    color: #ea00d9;
}
.container-1giJp5 {
    background: #091833;
    border-bottom: 1px solid #133e7c;
}
.theme-dark .subtext-3ECeS_, .theme-light .subtext-3ECeS_ {
    color: #ea00d9;
}
.rtcConnectionStatusConnected-VRZDjy {
    color: #00ff00;
}

/* Scroll bar */

.da-scrollerWrap .da-scroller::-webkit-scrollbar-thumb {
	background-color: #0abdc6 !important;
	border-color: #091833 !important;
}
.theme-dark .da-scrollerWrap .da-scroller::-webkit-scrollbar-track-piece {
	background-color: #000b1e !important;
	border-color: #091833 !important;
}

/* Chat */

.newMessagesBar-mujexs button {
    background: #711c91;
    color: #0abdc6;
}
.newMessagesBar-mujexs button:last-child {
    color: #ea00d9;
}
.newMessagesBar-mujexs button:last-child:hover {
    color: #0abdc6;
}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI {
    color: #ea00d9;
}
.theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI::after, .theme-dark .divider-3gKybi.dividerRed-MKoLlr .dividerContent-2L12VI::before {
    border-color: #ea00d9;
}
.theme-dark .messagesWrapper-3lZDfY {
    background-color: #091833;
}
.theme-dark .channelTextArea-rNsIhG {
    border-top: 1px solid #133e7c;
}
.theme-dark .reaction-1ELvT8 {
    background: #133e7c;
}
.theme-dark .reactionCount-2ddRoS {
    color: #0abdc6;
}
.theme-dark .markup-2BOw-j {
    color: #0abdc6;
}
.theme-dark .wrapperHover-1GktnT:hover {
    color: #ea00d9;
    background-color: #133e7c;
}
.theme-dark .wrapperHover-1GktnT {
    color: #ea00d9;
    background-color: #091833;
}
.theme-dark .timestampCozy-2hLAPV {
    color: #133e7c;
}
.botTagRegular-2HEhHi {
    background: #133e7c;
    color: #0abdc6;
}
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI {
    color: #133e7c;
}
.theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI::after, .theme-dark .divider-3gKybi:not(.dividerRed-MKoLlr) .dividerContent-2L12VI::before {
    border-color: #133e7c;
}
.theme-dark .markup-2BOw-j a {
    color: #ea00d9;
}
.theme-dark .embedTitleLink-1Zla9e {
    color: #ea00d9 !important;
}
.embedProvider-3k5pfl {
    color: #711c91 !important;
}
.theme-dark .embedInner-1-fpTo {
    background-color: #000b1e;
    border-color: #133e7c;
}
.theme-dark .embedPill-1Zntps {
    background-color: #0abdc6;
}
.theme-dark .embedDescription-1Cuq9a, .theme-dark .embedFieldValue-nELq2s, .theme-dark .embedFooterText-28V_Wb, .theme-dark .embedProvider-3k5pfl {
    color: #0abdc6;
}
.theme-dark .embedPill-1Zntps {
    background-color: #0abdc6 !important;
}
.theme-dark .container-3-pyIM {
    color: #0abdc6;
}
.theme-dark .container-3-pyIM .content-2M3n_H a {
    color: #ea00d9;
}
.theme-dark .timestamp-1E3uAL {
    color: #133e7c;
}
.theme-dark .hasMore-3e72_v button {
    background: #133e7c;
    border: none;
}
.theme-dark .hasMore-3e72_v button:hover {
    background: #711c91;
    border: none;
}
.hasMore-3e72_v button {
    color: #0abdc6;
}
.theme-dark .wrapper-35wsBm {
    background: #000b1e;
    border-color: #133e7c;
}
.theme-dark .h5-18_1nd {
    color: #0abdc6;
}
.theme-dark .guildIconExpired-2Qcq05 {
    background-color: #091833;
}
.theme-dark .guildDetail-1nRKNE {
    color: #0abdc6;
}
.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
    background-color: #711c91;
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: #133e7c;
    color: #0abdc6;
}
.base-34jWEe h1 {
    color: #0abdc6;
}
.welcomeMessage-3_Mcht p {
    color: #0abdc6;
}
.theme-dark .welcomeMessage-3_Mcht a {
    color: #ea00d9;
}
.theme-dark .edited-DL9ECl {
    color: #133e7c;
}
.theme-dark .guildIconImage-3qTk45 {
    background-color: #091833;
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
    color: #0abdc6;
}
.theme-dark .guildName-2hvnt_ {
    color: #ea00d9;
}
.statusOffline-37RKt7 {
    background-color: #133e7c;
}
.statusOnline-8PnF5L {
    background-color: #00ff00;
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6:hover {
    border-color: #ea00d9;
}
.theme-dark .lookOutlined-3sRXeN.colorPrimary-3b3xI6 {
    border-color: #0abdc6;
}
.theme-dark .container-3cGP6G {
    background: #000b1e;
}
.theme-dark .item-2J1YMK {
    color: #0abdc6;
}
.theme-dark .item-2J1YMK:hover {
    color: #ea00d9;
}


/* Message Box */

.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3 {
    background-color: #091833;
}
.theme-dark .inner-zqa7da {
    background-color: #133e7c;
}
.theme-dark .attachButtonPlus-rUdX-B {
    fill: #0abdc6
}
.attachButtonPlus-rUdX-B {
    opacity: .7;
}
.theme-dark .textArea-2Spzkt {
    color: #0abdc6;
}
.theme-dark .attachButtonDivider-3Glu60 {
    background-color: rgba(10, 189, 198, 0.5);
}
.theme-dark .button-3AYNKb {
    color: #0abdc6;
    opacity: .7;
}
.spriteNormal-1wvG5n {
    -webkit-filter: none;
    filter: none;
    opacity: .9;
}

/** Gifs **/
.theme-dark .autocomplete-1vrmpx {
    background-color: #000b1e;
}
.categoryLoader-1UbzZM {
    background-color: #091833;
}
.theme-dark .container-cMG81i {
    background-color: #133e7c;
}
.theme-dark .input-3Xdcic {
    color: #0abdc6;
}
.theme-dark .icon-1S6UIr {
    color: #0abdc6;
}
.theme-dark .backButton-JyKGC1 {
    color: #0abdc6;
}
.theme-dark .backButton-JyKGC1:hover {
    color: #ea00d9;
}

/** Emojis **/

.emojiPicker-3m1S-j {
    background-color: #000b1e !important;
    border: 1px solid #0abdc6;
}
.lightTheme-3LGLQs.container-2XeR5Z {
    background-color: #133e7c !important;
}
.lightTheme-3LGLQs .input-1Rv96N {
    color: #0abdc6 !important;
}
.lightTheme-3LGLQs .icon-3cZ1F_ {
    color: #0abdc6 !important;
}
.diversitySelector-tmmMv0 .popout-2nUePc {
    background: #000b1e !important;
    border: 1px solid #0abdc6 !important;
}
.diversitySelector-tmmMv0 .popout-2nUePc .item-16cXuq:hover {
    background-color: #133e7c;
}
.emojiPicker-3m1S-j .dimmer-3iH-5D.visible-3k45bQ {
    background-color: #000b1e !important;
}
.emojiPicker-3m1S-j .category-2U57w6 {
    color: #ea00d9;
    background: #000b1e !important;
}
.emojiPicker-3m1S-j .categories-1feg4n {
    border-top: 1px #133e7c !important;
}
.emojiPicker-3m1S-j .categories-1feg4n .item-16cXuq.selected-39BZ4S {
    border-bottom-color: #ea00d9;
}

/* Top bar */

.theme-dark .container-1r6BKw {
    background: #091833;
    color: #0abdc6;
    box-shadow: 0 1px 0 
        rgba(0, 11, 30, 1),0 1.5px 0 
        rgba(0,0,0,.05),0 2px 0 
        rgba(0,0,0,.05);
}
.theme-dark .icon-22AiRD {
    color: #0abdc6;
}
.theme-dark .base-1x0h_U {
    color: #0abdc6;
}
.theme-dark .divider-3FBTu8 {
    background: #133e7c;
}
.theme-dark .topic-TCb_qw {
    color: #0abdc6;
}
.theme-dark .children-19S4PO:after {
    background: none;
}
.theme-dark .clickable-3rdHwn .icon-22AiRD {
    color: #0abdc6;
}
.theme-dark .clickable-3rdHwn .icon-22AiRD:hover {
    color: #ea00d9;
}
.theme-dark .searchBar-3dMhjb {
    background-color: #133e7c;
    color: #0abdc6;
}
.theme-dark .icon-3cZ1F_ {
    color: #0abdc6;
}
.theme-dark .public-DraftEditorPlaceholder-root {
    color: rgba(10, 189, 198, .5) !important;
}


/* Context menu */
.theme-dark.contextMenu-HLZMGh,
.theme-dark.itemSubMenu-1vN_Yn {
	background: #000b1e;
}
.item-1Yvehc {
	color: #0abdc6 !important;
}
.item-1Yvehc:hover {
	color: #ea00d9 !important;
}

/* Right bar (members) */
.theme-dark .members-1998pB {
    background-color: #000b1e;
}
.theme-dark .membersGroup-v9BXpm {
    color: #0abdc6;
}
.theme-dark .activity-1IYsbk, .theme-dark .activityText-sLG0UL {
    color: #0abdc6;
}
.theme-dark .activityIconForeground-qYIPPg {
    fill: #0abdc6;;
}
.theme-dark .member-3W1lQa:hover {
    background-color: #711c91;
}
.theme-dark .memberOnline-1CIh-0 {
    color: #d7d7d5;
}
.theme-dark .memberOffline-2lN7gt {
    color: rgba(215, 215, 213, 0.7);
}

/* Friends */
.channels-Ie2l6A {
    background-color: #000b1e;
}
.darkTheme-3uETC4.container-2XeR5Z {
    background-color: #133e7c;
}
.darkTheme-3uETC4 .input-1Rv96N {
    color: #0abdc6;
}
.channel-2QD9_O.selected-1HYmZZ a {
    background-color: #133e7c;
}
.channel-2QD9_O .linkButtonIcon-Mlm5d6 {
    color: #0abdc6;
}
.channel-2QD9_O.selected-1HYmZZ, .channel-2QD9_O.selected-1HYmZZ .name-2WpE7M, .channel-2QD9_O.selected-1HYmZZ .nameWrapper-10v56U, .channel-2QD9_O.selected-1HYmZZ a{
    color: #ea00d9;
}
.channel-2QD9_O:hover a {
    background-color: #711c91;
}
.channel-2QD9_O:hover, .channel-2QD9_O:hover .name-2WpE7M, .channel-2QD9_O:hover .nameWrapper-10v56U, .channel-2QD9_O:hover a {
    color: #0abdc6;
}
.channel-2QD9_O, .channel-2QD9_O a {
    color: #0abdc6;
}
.name-2WpE7M {
    color: #0abdc6;
}
.privateChannels-1nO12o header {
    color: #0abdc6;
    opacity: 1;
}
.channel-2QD9_O.selected-1HYmZZ .activity-525YDR, .channel-2QD9_O:hover .activity-525YDR {
    color: #0abdc6;
}
.channel-2QD9_O.selected-1HYmZZ .activityIconForeground-3VIgI8, .channel-2QD9_O:hover .activityIconForeground-3VIgI8 {
    fill: #0abdc6;
}
.activityIconForeground-3VIgI8 {
    fill: #0abdc6;
}
.searchBar-6Kv8R2 {
    box-shadow: 0 1px 0 
        rgba(19, 62, 124, 0.7);
}

/* Call */
.theme-dark .transparent-2ZlE3R.container-1r6BKw, .theme-light .transparent-2ZlE3R.container-1r6BKw {
    background: #000b1e;
}
.theme-dark .transparent-2ZlE3R .icon-22AiRD, .theme-light .transparent-2ZlE3R .icon-22AiRD {
    color: #0abdc6;
}
.theme-dark .transparent-2ZlE3R .title-29uC1r:not(.titleMuted-LYRtm8), .theme-light .transparent-2ZlE3R .title-29uC1r:not(.titleMuted-LYRtm8) {
    color: #0abdc6;
}
.theme-dark .transparent-2ZlE3R .clickable-3rdHwn:hover .icon-22AiRD, .theme-light .transparent-2ZlE3R .clickable-3rdHwn:hover .icon-22AiRD {
    color: #ea00d9;
}
.theme-dark .transparent-2ZlE3R .clickable-3rdHwn .icon-22AiRD, .theme-light .transparent-2ZlE3R .clickable-3rdHwn:hover .icon-22AiRD {
    color: #0abdc6;
}
.theme-dark .wrapper-29NfPK {
    background-color: #000b1e !important;
}
.video-1FfuMD {
    background-color: #000b1e !important;
}
.theme-dark .quickSelect-3BxO0K {
    color: #0abdc6;
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover {
    background-color: #711c91;
}
.lookFilled-1Gx00P.colorGreen-29iAKY {
    color: #0abdc6;
    background-color: #133e7c;
}
.theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r {
    border-color: #091833;
    background-color: #091833;
}
