//META{"name":"Discord Cyberpunk Neon Transparent","description":"An outrun/cyberpunk theme, based on Cyberpunk Neon color scheme","author":"Roboron","version":"4"}*//

@import url("https://roboron3042.github.io/Cyberpunk-Neon/CSS/discord/base.css");

/* 
	Cyberpunk Neon color scheme is a cyberpunk/outrun color scheme based on the Cyberpunk Neon Color Palette.
	Autor: Roberto Michán Sánchez (Roboron)
	Upstream URL / Report issues: https://github.com/Roboron3042/Cyberpunk-Neon
	License: CC-BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0/
*/

/* CUSTOM BACKGROUND
    To change the background replace the URL in background-image in .appMount-3lHmkl with your prefered one 
    
	IMPORTANT: Some hosting sites may not work, so we recommend imgur to upload your desired image.
*/

.base_c48ade {
    background-image: url(https://i.imgur.com/gmUYbu0.jpeg) !important;
    background-color: rgba(9, 24, 51, 0) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* 13. TRANSPARENCY
	You can modify the transparency changing the values of the following parameters */
.theme-dark {
	--background-base-lowest: rgba(0, 11, 30, .7)!important;
	--background-base-lower: rgba(0, 11, 30, .4) !important;
	--background-base-low: rgba(0, 11, 30, .4) !important;
    --background-primary: rgba(9, 24, 51, .4) !important;
    --background-secondary: rgba(19, 62, 124, .4) !important;
    --bg-base-tertiary: rgba(0, 11, 30, .7)!important;
    --custom-channel-members-bg: rgba(0, 11, 30, .4) !important;
}

/* Custom CSS goes here */

