//META{"name":"Discord Cyberpunk Neon Transparent","description":"An outrun/cyberpunk theme, based on Cyberpunk Neon color scheme","author":"Roboron","version":"1"}*//

@import url("https://roboron3042.github.io/Cyberpunk-Neon/CSS/discord/base.css");

/* 
	Cyberpunk Neon color scheme is a cyberpunk/outrun color scheme based on the Cyberpunk Neon Color Palette.
	Autor: Roberto Michán Sánchez (Roboron)
	Upstream URL / Report issues: https://github.com/Roboron3042/Cyberpunk-Neon
	License: CC-BY-SA 4.0 https://creativecommons.org/licenses/by-sa/4.0/
*/

/* CUSTOM BACKGROUND
    To change the background replace the URL in background-image in .appMount-3lHmkl with your prefered one 
    
	IMPORTANT: Some hosting sites may not work, so we recommend imgur to upload your desired image.
*/

.appMount-2yBXZl {
    background-image: url(https://i.imgur.com/jshwEyA.jpg) !important;
    background-color: rgba(9, 24, 51, 0) !important;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
}






/* 13. TRANSPARENCY
	You can modify the transparency changing the values of the following parameters */
.theme-dark {
    --background-primary: rgba(9, 24, 51, .4) !important;
    --background-secondary: rgba(0, 11, 30, .4)  !important;
    --background-tertiary: rgba(0, 11, 30, .4) !important;
    --deprecated-panel-background: rgba(9, 24, 51, .4) !important;
    --channeltextarea-background: rgba(19, 62, 124, .7) !important;
    --background-secondary-alt: rgba(9, 24, 51, .7) !important;

}
.theme-dark .inset-3sAvek {
    background-color: var(--channeltextarea-background) !important;
}
.theme-dark .container-2cd8Mz {
    background-color: transparent;
}

/* Web scrollbars 
    This section is only necessary if you are going to use Discord in a web browser (with Stylus)   */

.theme-dark .scrollerThemed-2oenus.themeGhostHairline-DBD-2d .scrollbar-2rkZSL .thumb-2JwNFC {
    background-color: #0abdc6;
}
.scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL, .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL .pad-29zQak, .theme-dark .scrollerWrap-2lJEkd .scrollbar-2rkZSL, .theme-dark .scrollerWrap-2lJEkd .scrollbar-2rkZSL .pad-29zQak, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL, .theme-light .scrollerThemed-2oenus.themeDark-2cjlUp .scrollbar-2rkZSL .pad-29zQak {
    background-color: #000b1e !important;
}
.scrollerThemed-2oenus.themeGhostHairlineChannels-3G0x9_ .scrollbar-2rkZSL .thumb-2JwNFC {
    background-color: #0abdc6;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scrollbar-2rkZSL .track-1JN30G {
    background-color: #000b1e;
    border: none;
}
.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scrollbar-2rkZSL .thumb-2JwNFC {
    background-color: #0abdc6;
    border: 3px solid #000b1e;
}

/* Custom CSS goes here */

